/*globals*/
.App {
  text-align: center;
  height: 500vh;
  margin: 0 auto;
  background-color: #f2edf4;
}

.title{
  font-size: 40px;
  font-weight: bold;
  padding: 30px;
}

.textOne {
  font-size: 25px;
}

.signIn {
  padding-top: 40px;
}

input {
  height: 30px;
  width: 25vw;
  border:none;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #f2edf4;
}

.playerNameWrapper {
  background-color: #f6f6f6;
  margin: 10px 20vw;
}

.playerName {
  padding: 30px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: -3px 5px 6px 2px rgba(0,0,0,0.25);
  box-shadow: -3px 5px 6px 2px rgba(0,0,0,0.25);
}

.ready {
  font-size: 16px;
  cursor: pointer;
  background-color: #13ceff;
  padding: 8px;
  border-radius: 10px;
  color: white;
}

.ready:hover {
  background: #008378;
}
.ready:focus {
  outline: 0;
}

.button {
  background-color: #13ceff;
  padding: 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 50px 40vw 50px 40vw;
}

.button:hover {
  background: #008378;
}
.button:focus {
  outline: 0;
}

.usersWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:20px;
}

.user {
  margin: 0px 20px 10px 0px;
  padding: 5px 10px;
  font-size: 25px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.33);
}

.userTurn {
  box-shadow: 0px 0px 5px 2px;
  font-weight: bold;
}

#cards {
  width: 768px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.card:not(:nth-child(6n)) {
  margin-right: 20px;
}

.c {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://images.unsplash.com/photo-1550591541-a7af89544766?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
}

.front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
}


.modalOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  width: 350px;
  height: 200px;
  margin: 150px auto;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  box-shadow: 1px 11px 19px 2px rgba(0,0,0,0.8);
  border-radius: 10px;
}

.modalWrapper {
  padding-top: 30px;
}

.modalText {
  font-size: 25px;
}

.gameOver {
  padding-top: 30px;
  font-size: 40px;
}

